<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qoute</title>
    <link rel="stylesheet" href="styl.css">
</head>
<body>
    <section id="web-type">

        <div class="sect-header">
            <h1>Choose your desired Web Type</h1>
        </div>

        <div class="sect-parent">
            <div class="sect-child">
                <div class="radio-button"></div>
                <h3>Standard Website</h3>
            </div>
            <div class="sect-child">
                <div class="radio-button"></div>
                <h3>Standard Website</h3>
            </div>
            <div class="sect-child">
                <div class="radio-button"></div>
                <h3>Standard Website</h3>
            </div>
            <div class="sect-child">
                <div class="radio-button"></div>
                <h3>Standard Website</h3>
            </div>
            <div class="sect-child">
                <div class="radio-button"></div>
                <h3>Standard Website</h3>
            </div>
        </div>

    </section>
    <div class="sect-header">
        <h1></h1>
    </div>
    
</body>
</html>