* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a, li {
    text-decoration: none;
    list-style: none;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f1ec;
    font-family: var(--monts);
}

:root {
    --monts: 'Montserrat', sans-serif;
    --nuns: 'Nunito', sans-serif;
    --robs: 'Roboto', sans-serif;
}



/**** SUCCESS SECTION ****/
#success-section, #fail-section {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sect-block {
    width:500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    height: 500px;
}

#check {
    padding: 0.4rem;
    background-color: rgb(255, 255, 255);
    color: rgb(43, 255, 0);
    font-size: 45px;
    border: 0 solid black;
    border-radius: 50px;
}

#close {
    padding: 0.4rem;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
    font-size: 45px;
    border: 0 solid black;
    border-radius: 50px;
}

#fail-section .home-link {
    padding: 1rem 3rem;
    border-radius: 50px;
    letter-spacing: 1px;
    border: 0 solid black;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
}

.s-message {
    font-size: 2em;
    text-align: center;
    letter-spacing: 1px;
    font-family: var(--monts);
    color: black;
    font-weight: 500;
    width: 70%
}

.home-link {
    padding: 1rem 3rem;
    border-radius: 50px;
    letter-spacing: 1px;
    border: 0 solid black;
    background-color: rgb(255, 255, 255);
    color: rgb(43, 255, 0);
}




/**** SUCCESS SECTION ****/