* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a, li {
    text-decoration: none;
    list-style: none;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f1ec;
    font-family: var(--monts);
}

:root {
    --monts: 'Montserrat', sans-serif;
    --nuns: 'Nunito', sans-serif;
    --robs: 'Roboto', sans-serif;
}

section {
    width: 100%;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

#web-type {
    height: 100vh;
}

/**** SECTION HEADER ****/
.sect-header {
    width: 100%;
    text-align: center;
}

.sect-header h1 {
    font-size: 1.9em;
    letter-spacing: 2px;
    font-family: var(--monts);
    font-weight: 600;
}



/**** SECTION HEADER ****/

/**** SECTION PARENT ****/
.sect-parent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.sect-child {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1rem 2rem;
    background-color: white;
    border: 0 solid transparent;
    border-radius: 5px;
    width: 450px;
    gap: 2rem;
    cursor: pointer;
}

.radio-button {
    height: 12px;
    width: 12px;
    border: 2px solid salmon;
    border-radius: 50px;
}

.sect-child h3 {
    font-size: 1.1em;
    letter-spacing: 2px;
    font-weight: 500;
}

.selected {
    background-color: salmon;
}




/**** SECTION PARENT ****/


/**** BUTTON DIV AREA ****/
.btn-div {
    width: 100%;
    padding: 1rem 0;
    display: flex;
    justify-content: end;
    align-items: center;
}

.td {
    justify-content: space-between;
}

#backBtn {
    padding: 0.6rem 3rem;
    font-size: 1.3em;
    letter-spacing: 1px;
    font-family: var(--nuns);
    background-color: #6c9286;
    color: white;
    border: 0 solid transparent;
    border-radius: 4px;
    justify-self: flex-start;
}

#nextBtn {
    padding: 0.6rem 3rem;
    font-size: 1.3em;
    letter-spacing: 1px;
    font-family: var(--nuns);
    background-color: dodgerblue;
    color: white;
    border: 0 solid transparent;
    border-radius: 4px;
}


/**** BUTTON DIV AREA ****/

/**** QOUTATION PARENT ****/
.qoutation-div {
    background-color: white;
    border: 0 solid transparent;
    border-radius: 5px;
    padding: 2rem 1rem;
    width: 600px;
}

.brand-logo {
    width: 160px
}

.inner-parent-div, .calc-result-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

.calc-result-div {
    align-items: flex-end;
}

#result {
    border-top: 1px solid gainsboro; 
    border-bottom: 1px solid gainsboro; 
    border-radius: 0px;
    padding: 1rem;
    font-size: 1.1em;
    letter-spacing: 2px;
    font-weight: 400;
}

.amount {
    justify-self: flex-end;
    align-self: flex-end;
    font-size: 1.1em;
    letter-spacing: 2px;
    font-weight: 400;
    position: absolute;
    right: 5px;

}

.qoutation-div .sect-child {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1rem 2rem;
    background-color: white;
    border-top: 1px solid gainsboro; 
    border-bottom: 1px solid gainsboro; 
    border-radius: 0px;
    width: 100%;
    gap: 2rem;
    cursor: pointer;
}

/**** QOUTATION PARENT ****/