* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a, li {
    text-decoration: none;
    list-style: none;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f1ec;
    font-family: var(--monts);
}

:root {
    --monts: 'Montserrat', sans-serif;
    --nuns: 'Nunito', sans-serif;
    --robs: 'Roboto', sans-serif;
}

section {
    width: 100%;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

#web-type, #time-demand, #qoutation {
    height: 100vh;
}

/**** SECTION HEADER ****/
.sect-header {
    width: 100%;
    text-align: center;
}

.sect-header h1 {
    font-size: 1.9em;
    letter-spacing: 2px;
    font-family: var(--monts);
    font-weight: 600;
}

.sect-parent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.sect-child {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1rem 2rem;
    background-color: white;
    border: 0 solid transparent;
    border-radius: 5px;
    width: 450px;
    gap: 2rem;
    cursor: pointer;
}

.sect-child:hover,
.sect-child:active {
    transform: translateY(-2px);
    box-shadow: 0 1px 4px gainsboro;
}

.radio-button {
    height: 12px;
    width: 12px;
    border: 2px solid salmon;
    border-radius: 50px;
}

.sect-child h3 {
    font-size: 1.1em;
    letter-spacing: 2px;
    font-weight: 400;
}

.selected {
    background-color: salmon;
}

.time-selected {
    background-color: rgb(114, 207, 250);
}

#time-demand .radio-button {
    height: 12px;
    width: 12px;
    border: 2px solid rgb(114, 207, 250);
    border-radius: 50px;
}

#qoutation .sect-child:first-child .radio-button {
    border: 2px solid salmon;
    background-color: salmon;
}

#qoutation .sect-child:last-child .radio-button {
    border: 2px solid rgb(114, 207, 250);
    background-color: rgb(114, 207, 250);
}

#qoutation .sect-child:hover,
#qoutation .sect-child:active {
    transform: none;
    box-shadow: 0 0 0 transparent;
}


/**** SECTION PARENT ****/


/**** BUTTON DIV AREA ****/
.btn-div {
    width: 100%;
    padding: 1rem 0;
    display: flex;
    justify-content: end;
    align-items: center;
}

.td {
    justify-content: space-between;
}

#backBtn {
    padding: 0.6rem 3rem;
    font-size: 1.3em;
    letter-spacing: 1px;
    font-family: var(--nuns);
    background-color: #6c9286;
    color: white;
    border: 0 solid transparent;
    border-radius: 4px;
    justify-self: flex-start;
}

#nextBtn, #download {
    padding: 0.6rem 3rem;
    font-size: 1.3em;
    letter-spacing: 1px;
    font-family: var(--nuns);
    background-color: dodgerblue;
    color: white;
    border: 0 solid transparent;
    border-radius: 4px;
}

/**** BUTTON DIV AREA ****/

/**** QOUTATION PARENT ****/
.qoutation-div {
    background-color: white;
    border: 0 solid transparent;
    border-radius: 5px;
    padding: 2rem 1rem;
    width: 600px;
}

.brand-logo {
    width: 160px
}

.inner-parent-div, .calc-result-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

.calc-result-div {
    align-items: flex-end;
}

#result {
    border-top: 2px solid rgb(250, 250, 250); 
    border-bottom: 2px solid rgb(240, 240, 240); 
    border-radius: 0px;
    padding: 1rem;
    font-size: 1.1em;
    letter-spacing: 2px;
    font-weight: 400;
}

.amount {
    justify-self: flex-end;
    align-self: flex-end;
    font-size: 1.1em;
    letter-spacing: 2px;
    font-weight: 400;
    position: absolute;
    right: 5px;

}

.qoutation-div .sect-child {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1rem 2rem;
    background-color: white;
    border: 2px solid rgb(250, 250, 250);
    border-radius: 4px;
    width: 100%;
    gap: 2rem;
    cursor: pointer;
}

.time-variations {
    font-size: 0.7em;
    font-weight: 500;
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-family: var(--nuns);
}

@media (max-width: 767px) {
    section {
        padding: 2rem 1rem;
    }
    #web-type, #time-demand, #qoutation {
        height: 85vh;
    }
    .sect-header h1 {
        font-size: 1.6em;
    }
    .sect-child {
        padding: 1.5rem 1rem;
        width: 100%;
        gap: 1rem;
    }
    .radio-button {
        height: 7px;
        width: 7px;
    }
    #time-demand .radio-button {
        height: 7px;
        width: 7px;
    }
    .sect-child h3 {
        font-size: 1em;
    }
    .qoutation-div {
        padding: 2rem 0.3rem;
        width: 100%;
    }
    .qoutation-div .sect-child {
        padding: 1.5rem 0.3rem;
        width: 100%;
        gap: 1rem;
    }
    .brand-logo {
        width: 120px;
        margin-left: 1.5rem;
    }
    .qoutation-div .sect-child h3 {
        font-size: 0.8em;
    }
    .qoutation-div .sect-child h4 {
        font-size: 0.8em;
    }
    #qoutation .btn-div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #download {
        padding: 0.6rem 1.5rem;
        font-size: 1.1em;
    }
    .home-link {
        padding: 0.6rem 1.5rem;
        font-size: 1.1em;
        letter-spacing: 1px;
        font-family: var(--nuns);
        background-color: rgb(107, 121, 135);
        color: white;
        border: 0 solid transparent;
        border-radius: 4px;
    }
    #result {
        padding: 1rem 0.3rem;
        font-size: 1em;
    }
}

/**** QOUTATION PARENT ****/