* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a, li {
    text-decoration: none;
    list-style: none;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f1ec;
    font-family: var(--monts);
}

:root {
    --monts: 'Montserrat', sans-serif;
    --nuns: 'Nunito', sans-serif;
    --robs: 'Roboto', sans-serif;
}

section {
    width: 100%;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

/**** SECTION HEADER ****/
.sect-header {
    width: 100%;
    text-align: center;
}

.sect-header h1 {
    font-size: 2em;
    letter-spacing: 2px;
    font-family: var(--monts);
    font-weight: 700;
}



/**** SECTION HEADER ****/