* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a, li {
    text-decoration: none;
    list-style: none;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f1ec;
}

section {
    margin-top: 1rem;
    width: 90%;
}

:root {
    --monts: 'Montserrat', sans-serif;
    --nuns: 'Nunito', sans-serif;
    --robs: 'Roboto', sans-serif;
}

/**** HEADER SECTION ****/
header {
    min-height: 12vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}




/**** HEADER SECTION ****/

/**** HERO SECTION ****/
#hero-section {
    min-height: 90vh;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 100%;
    align-items: center; 
    background: linear-gradient( #289dd2, #0c8bc4);
    border: 0 solid transparent;
    border-radius: 5px;
}





/**** HERO SECTION ****/

/**** BENEFITS SECTION ****/
#benefits {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}
.top-bene-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bot-bene-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.bbd-div {
    width: 300px;
    border: 0 solid transparent;
    border-radius: 5px;
    background-color: white;
    min-height: 300px;
}

.top-bene-div {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;
    align-items: center;
    padding: 2rem 0
}

.tbd-1, .tbd-2 {
    width: 100%;
}



/**** BENEFITS SECTION ****/

/**** FIRST TIME SECTION ****/
#first-time {
    min-height: 100vh;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 100%;
    align-items: center; 
    background: linear-gradient( #8bb8aa, #6c9286);
    border: 0 solid transparent;
    border-radius: 5px;
}
.ft-div-left, .ft-div-right {
    width: 100%;
    border: 2px solid black;
    height: 100%;
}

.ft-div-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 0 1rem
}

.ftd--top h2 {
    font-size: 3em;
    letter-spacing: 2px;
    font-weight: 700;
    line-height: 60px;
}

.ftd--bottom {
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(2,auto);
    gap: 1rem;
}



/**** FIRST TIME SECTION ****/

/**** FAQ SECTION ****/
#faq {
    min-height: 90vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.faq-div-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.faq-child {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 30% 70%;
    grid-template-areas:  
    "a b"
    "c d ";
    background-color: white;
    padding: 1rem 0.5rem;
    align-items: center;
    width: 100%;
    border: 0 solid transparent;
    border-radius: 5px
}

.icons {
    grid-area: a;
    display: flex;
    justify-content: center;
    align-items: center;
}

#more, #less, #send {
    font-size: 40px
}

#less {
    display: none;
}
.title {
    grid-area: b;
}

.ans-para {
    grid-area: c;
}

.empty-div {
    grid-area: d;
}



/**** FAQ SECTION ****/

/**** CTA ****/
#cta {
    min-height: 50vh;
    width: 70%;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    background: linear-gradient(0deg, #16355b, #020c19);
    border: 0 solid transparent;
    border-radius: 5px;
    margin-bottom: 5rem;
    text-align: center;
    gap: 1rem;
}

#cta h2 {
    font-size: 2.5em;
    letter-spacing: 2px;
    color: #f2f1ec;
}

#cta p {
    font-size: 1.1em;
    width: 70%;
    letter-spacing: 2px;
    color: #f2f1ec;
}

.cta-div {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0 solid transparent;
    border-radius: 50px;
    width: 50%;
    height:50px;
    margin-top: 2rem
}

#emailInp {
    height: 100%;
    width: 100%;
    border: 0 solid transparent;
    border-radius: 50px;
    padding: 0 2rem;
    font-size: 1.2em;
    letter-spacing: 1px;
    font-family: var(--monts);
}

#emailInp:focus {
    outline: 0 solid transparent;
}

#send {
    color: white;
}

.subbtn {
    height: 100%;
    width: 100px;
    background: linear-gradient( #8bb8aa, #6c9286);
    border: 0 solid transparent;
    border-radius: 0 50px 50px 0;
    cursor: pointer;
}
/**** CTA ****/

/**** FOOTER SECTION ****/
footer {
    min-height: 50vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 0 solid transparent;
    border-radius: 10px 10px 0 0;
    width: 100%
}







/**** FOOTER SECTION ****/