* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a, li {
    text-decoration: none;
    list-style: none;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f1ec;
}

section {
    margin-top: 1rem;
    width: 90%;
}

:root {

}

/**** HEADER SECTION ****/
header {
    min-height: 12vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}




/**** HEADER SECTION ****/

/**** HERO SECTION ****/
#hero-section {
    min-height: 90vh;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 100%;
    align-items: center; 
    background: linear-gradient( #289dd2, #0c8bc4);
    border: 0 solid transparent;
    border-radius: 5px;
}





/**** HERO SECTION ****/

/**** BENEFITS SECTION ****/
#benefits {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}
.top-bene-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bot-bene-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.bbd-div {
    width: 300px;
    border: 0 solid transparent;
    border-radius: 5px;
    background-color: white;
    min-height: 300px;
}

.top-bene-div {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;
    align-items: center;
    padding: 2rem 0
}

.tbd-1, .tbd-2 {
    width: 100%;
}



/**** BENEFITS SECTION ****/